body {
    background: #87CEEB;
    margin: 30px;
}

header {
    background: #007FFF;
}

main {
    background: #FFFFFF;
    height: 920px;
}

main article h1{
    text-align: center;
}

nav{
    min-width: 150px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin: 10px 10px;
}

nav ul li:hover{
    background:	#808080;
}

nav a {
    color: white;
    text-decoration: none;
}

table {
    width: 90%;
    text-align: center;
}

.kategorie {
    background: #004F8E;
    float: left;
    width: 10%;
    height: 920px;
}

.logo {
    height: 200px;
    margin: 10px 20px;
}

.nadpisStranky{
    height: 200px;
}

.kosik{
    height: 50px;
    float: right;
}

.aktivni {
    background: #ffbb00;
}