.aktivni {
    background: #579ff7;
}

body {
    background: #87CEEB;
    margin: 1%;
}

.button {
    width: 30%;
    margin: 2% 2%;
    background: #007FFF;
    border: 1px solid;
    padding: .5em;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
}

.center {
    text-align: center;
}

.flex-container div .hidenForMobile {
    display: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    justify-content: center;
}

.flex-container div {
    width: 100%;
	text-align: center;
}

.flex-container div img {
    width: 90%;
    margin: 10% 0;
}

.flex-container div .popiskyProduktu{
    display: inline-block;
    width:90%;
    margin: 2%;
	display: none;
}

.flex-container div .levyDetail{
    display: inline-block;
}

.flex-kosik-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.flex-kosik-container .flex-container div {
    width: 30%;
    margin: 10px 0;
    text-align: center;
}

.flex-container .obrazekKosik {
	float: left;
	margin: 0 0 0 2% ;
	width: 40%;
}

.flex-container .obrazekKosik img {
	max-width: 50%;
	width: 70%;
	margin: 0 10%;
}

header {
    background: #007FFF;
    width: 100%;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
}

.kontakt {
    display: inline-block;
    text-align: left;
}

.kosik {
    height: 10%;
    width: 10%;
    margin: 2% 2%;
    float: right;
}

.logo {
    height: 15%;
    width: 15%;
    margin: 5% 5%;
}

main {
    background: #FFFFFF;
    height: 100%;
	margin: 1% 0;
	width: 100%;
}

main article h1,h2 {
    text-align: center;
}

.menu {
    background: #004F8E;
    text-align: center;
    width: 100%;
    min-height: 50px;
    font-size: 130%;
    font-family: "Arial Black", Gadget, sans-serif;
    vertical-align: middle;
    height: 20%;
}

.menu a {
    float: none;
    width: 100%;
    display: block;
    padding: 0;
}

nav {
    min-width: 150px;
}

nav a:hover{
    background:	#003785;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: inline;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
}

.nadpisStranky {
    height: 40%;
    width: 40%;
    margin: 3% -7%;
}


.obsahkosiku {
	text-align: center;
}

.obsah {
	display: inline-block;
}

.obrazekKosik img {
    max-width: 50%;
}

.pravyDetail tr:nth-child(even) {
    background-color: #eee;
}

.pravyDetail tr:nth-child(odd) {
    background-color: #fff;
}

.pravyDetail th {
    background-color: white;
	color: black;
}

.pravyDetail td {
    width: 50%;	
}

.souhrn {
	text-align: center;
}

table {
    width: 100%;
    text-align: center;
}

th {
    text-align: left;
    padding: 6px;
    color: white;
    background: #003785;
}

.drob_navigace {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: large;
	width: 100%;
}

.flex-container div .drob_navigace {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: large;
	width: 100%;
}

.drob_navigace a {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: large;
	color: black;
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
} 


@media only screen and (min-width: 600px) {

.button {
    width: 20%;
    margin: 1% 2%;
    background: #007FFF;
    border: 1px solid;
    padding: .5em;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: black;
}

.kosik {
    height: 5%;
    width: 5%;
    margin: 2% 2%;
    float: right;
}

.obrazekKosik img {
    max-width: 25%;
}

.logo {
    height: 7%;
    width: 7%;
    margin: 4% 5%;
}

.menu a {
    float: none;
    width: 100%;
    display: inline;
    padding: 10px 10px;
}

.nadpisStranky{
    height: 25%;
    width: 25%;
    margin: 1% -7%;
}

nav {
    min-width: 150px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: inline;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
}

.flex-container div .hidenForMobile {
    display: block;
}

.flex-container div {
    width: 30%;
    margin: auto;
    text-align: center;
}

.flex-container div .popiskyProduktu{
    display: inline-block;
    width:90%;
    margin: 2%;
}
}





